*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.BOcontainer{
    height: 100vh;
    width: 100vw;
    background-color: var(red);
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 10px;
  }
